@use '@angular/material' as mat;

.container {
    height: 100vh;

}

.spacer {
    flex: 1 1 auto;
}

.logo-title {
    display: inline-block;
    padding: 10px 0px;
}

mat-toolbar button {
    margin: auto 5px auto 1px;
}