<div class="sidenav-container">
    <mat-nav-list role="list">
        <mat-list-item>
            <mat-icon matListItemIcon>dashboard</mat-icon>
            <a matListItemTitle routerLink="" (click)="onNavigate()">Dashboard</a>
        </mat-list-item>
    </mat-nav-list>

    <mat-nav-list role="list" class="authentication">
        @if (isLoggedIn$ | async) {
        <mat-list-item>
            <mat-icon matListItemIcon>logout</mat-icon>
            <span matListItemTitle (click)="logout()">Logout</span>
        </mat-list-item>
        } @else {
        <mat-list-item>
            <mat-icon matListItemIcon>account_circle</mat-icon>
            <a matListItemTitle routerLink="/auth/login" (click)="onNavigate()">Sign In</a>
        </mat-list-item>

        <mat-list-item>
            <mat-icon matListItemIcon>add_2</mat-icon>
            <a matListItemTitle routerLink="/auth/register" (click)="onNavigate()">Create Account</a>
        </mat-list-item>
        }
    </mat-nav-list>
</div>